.flex-div {
    display: flex;
    flex-wrap: wrap;
}
.row-col {
    height: 250px;
    width: 187px;
    margin: 10px;
}
.row-col img {
    width: 100%;
    height: calc(100% - 52px);
}
.row-col div {
    height: 50px;
    width: 100%;
}
.row-col .content {
    display: flex;
    flex-direction: column;
}
.row-col .content a {
    color: #000;
    font-weight: 500;
}
.color-red {
    color: #c30;
}
.content p {
    font-weight: 600;
}
#books {
    padding: 20px;
}